<div class="todo-item <%= todo_item.completed? ? 'completed' : '' %>">

<%= todo_item.name %>

	<div class="comment<%= todo_item.id %>">
		<% todo_item.comments.each do |comment| %>
		<%= render comment %>
		<% end %>
	</div>

	<%= render :partial => 'comments/form', :locals => { :item => todo_item} %>

	<%#= link_to_image_tag('thumbup.jpg', :width => 16, :height => 16), like_todo_item_path(todo_item.destination.id, todo_item.id), :remote => true, :method => :post %>

	<div class="info"> 
		<%= distance_of_time_in_words(Time.now, todo_item.created_at) %> ago
	</div>
</div>